.service__card-title, h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf2ec;
  max-width: 1440px;
  width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #636060;
  line-height: 25px;
}

button {
  font-family: "Inika";
  font-size: 15px;
  width: 121px;
  height: 35px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: #e06733;
  color: #fff;
}

.btn_active {
  background-color: #e06733;
  color: #fff;
}

h3 {
  font-family: "Inika", serif;
  color: #e06733;
  font-size: 25px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 320px) {
  .container {
    width: 86%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  h3 {
    font-family: "Inika", serif;
    color: #e06733;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
  }
  button {
    font-size: 20px;
    width: 160px;
    height: 50px;
  }
}
.green-text {
  color: #499a18;
}

@media (min-width: 1440px) {
  body {
    font-size: 20px;
    line-height: 35px;
  }
  .container {
    max-width: 1222px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 96px;
  align-items: center;
}

.logo {
  display: flex;
}
.logo__link {
  text-decoration: none;
}
.logo__title {
  font-family: "Inika", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  line-height: 21px;
}

.navbar {
  display: none;
}

.menu__strip {
  width: 40px;
  height: 2px;
  background-color: #717171;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-fix {
    width: 100%;
    position: fixed;
    background-color: rgba(237, 242, 236, 0.5);
    font-weight: 700;
    color: #010201;
  }
  .menu {
    display: none;
  }
  .navbar {
    display: block;
  }
  .navbar__menu {
    display: flex;
    list-style-type: none;
  }
  .navbar__item {
    margin-left: 46px;
  }
  .navbar__link {
    text-decoration: none;
    color: #010201;
  }
  .navbar__link.active, .navbar__link:hover {
    color: #e06733;
  }
}
.welcome {
  padding: 24px 0;
  display: flex;
}
.welcome__image {
  display: none;
}
.welcome__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #717171;
  line-height: 35px;
}
.welcome__text {
  padding: 20px 0;
}
.welcome__btn {
  display: block;
  height: 35px;
  font-size: 10px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #e06733;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .welcome {
    display: flex;
  }
  .welcome__image {
    display: block;
    width: 280px;
  }
  .welcome__img {
    order: 2;
  }
  .welcome__title {
    font-size: 35px;
    line-height: 50px;
  }
  .welcome__btn {
    width: 158px;
    height: 54px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .welcome {
    justify-content: space-between;
    align-items: center;
  }
  .welcome__img {
    order: -1;
  }
  .welcome__image {
    width: 407px;
    height: 450px;
  }
  .welcome__inner {
    width: 550px;
    margin-top: 98px;
    margin-bottom: 94px;
  }
  .welcome__title {
    margin-bottom: 42px;
    font-size: 45px;
  }
  .welcome__text {
    margin-bottom: 48px;
  }
}
.about {
  background-color: #fff;
  padding: 30px 25px;
}
.about__img {
  display: block;
  margin: 0 auto;
  width: 147px;
  height: 150px;
}
.about__title {
  padding-bottom: 21px;
  font-size: 35px;
  line-height: 45px;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .about {
    padding: 40px 50px 95px;
  }
  .about__title {
    width: 425px;
    margin: 0 auto;
  }
  .about__text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 95px 110px;
  }
  .about__inner {
    width: 605px;
    align-self: center;
  }
  .about__title {
    margin: 0;
    font-size: 40px;
    text-align: left;
  }
  .about__img {
    width: 465px;
    height: 480px;
  }
}
.service__title {
  text-align: left;
  width: 190px;
  padding: 30px 0 35px;
}
.service__btn {
  margin: 5px 4px 5px 0;
}
.service__card {
  min-width: 280px;
  max-width: 330px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 54px 0;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.service__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.service__card-title {
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin: 10px 0;
}
.service__card-text {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .service__title {
    width: 300px;
  }
  .service__cards {
    display: grid;
    padding: 40px 0 70px;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 106px;
  }
  .service__card {
    margin: 0;
  }
  .service__btn {
    margin-right: 38px;
  }
}
@media (min-width: 1440px) {
  .service {
    padding: 40px 0 120px;
  }
  .service__title {
    font-size: 40px;
    line-height: 120%;
    margin-right: 100px;
  }
  .service__top {
    display: flex;
    align-items: center;
  }
  .service__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.prices {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 5px;
}
.prices__right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.prices__title {
  color: #000;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
}
.prices__right-title {
  font-size: 20px;
  color: #000;
}
.prices__img {
  display: none;
}
.prices__btn {
  margin-top: 14px;
}

@media (min-width: 768px) {
  .prices {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px 50px 88px 50px;
  }
  .prices__title {
    text-align: left;
  }
  .prices__img {
    display: block;
    height: 174px;
    width: 152px;
    margin-top: 34px;
  }
  .prices__title {
    font-size: 35px;
  }
  .prices__right {
    margin-top: 140px;
    align-items: end;
  }
  .prices__right-title {
    text-align: right;
    font-size: 25px;
    line-height: 40px;
  }
}
@media (min-width: 1440px) {
  .prices {
    padding: 40px 110px 115px;
  }
  .prices__title {
    font-size: 40px;
    line-height: 120%;
  }
  .prices__right-title {
    font-size: 40px;
    line-height: 50px;
  }
}
.contacts {
  padding-top: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.contacts__title {
  font-weight: 700;
  font-size: 25px;
}
.contacts__img {
  display: block;
  order: 3;
  height: 125px;
  width: 100px;
  margin-top: 132px;
}
.contacts__inner {
  padding-bottom: 33px;
}
.contacts__block {
  width: 300px;
  height: 50px;
  background-color: #d6e7d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  transition: 0.1s;
}
.contacts__btn-title {
  color: #717171;
}
.contacts__arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #aea1a1;
  cursor: pointer;
}
.contacts__address {
  border: 1px solid #000;
  border-radius: 20px;
  height: 210px;
  padding: 23px 36px;
  margin-top: 48px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  display: none;
}
.contacts__address-inner {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 17px;
}
.contacts__address-hed {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  color: #000;
}
.contacts__address-content {
  margin-block-start: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.contacts__office {
  display: flex;
  flex-flow: column wrap;
}
.contacts__btn {
  display: block;
  color: #717171;
  font-size: 10px;
  font-weight: 700;
  margin: 0 auto;
}
.contacts__link {
  font-size: 10px !important;
  color: #717171;
  text-decoration: none;
}
.contacts__dropdown {
  display: none;
  flex-flow: column wrap;
  background-color: #dce9d9;
  list-style-type: none;
  padding: 15px 35px;
  transition: 0.2s;
}
.contacts__dropdown-item {
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.contacts__dropdown-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.1s;
}
.contacts__dropdown-item:hover::after, .contacts__dropdown-item:active::after {
  background-color: #717171;
}
.contacts__dropdown-item:hover .contacts__dropdown-link, .contacts__dropdown-item:active .contacts__dropdown-link {
  color: #717171;
}
.contacts__dropdown-link {
  color: #499a18;
  line-height: 40px;
  text-decoration: none;
  transition: all 0.1s;
  padding-right: 100px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .contacts__title {
    font-size: 40px;
    padding-bottom: 100px;
  }
  .contacts__block {
    width: 450px;
    height: 50px;
    margin-top: 0;
  }
  .contacts__address {
    height: 214px;
    width: 450px;
  }
  .contacts__img {
    margin-top: 250px;
  }
  .contacts__dropdown-link {
    padding-right: 230px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
  }
  .contacts__block {
    margin-top: 150px;
  }
  .contacts__title {
    margin-top: 60px;
  }
  .contacts__img {
    min-width: 400px;
    height: 500px;
    order: -1;
  }
}
.open {
  display: block;
  background: transparent;
}

.arrow2 {
  display: none;
}

.disappeare {
  display: none;
}

.appeare {
  display: block;
}

.onHover {
  display: flex;
}

.dismargin {
  margin-top: 12px;
}

.active_dropdown {
  background-color: #c1e698;
  box-shadow: none;
}

.prices__item {
  background-color: bg-color;
  width: 180px;
  font-size: 7px !important;
}
.prices__item_closed {
  background-color: #edf2ec;
  border-radius: 20px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.prices__item_closed h5 {
  font-size: 15px;
}
.prices__item_opened {
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #d6e7d2;
  display: none;
}
.prices__item_opened h5 {
  color: #aea1a1;
  font-size: 15px;
}
.prices__item_opened .prices__arrow {
  background-color: #aea1a1;
}
.prices__right-title {
  margin-top: 0;
}
.prices__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prices__arrow {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.prices__item-title {
  color: #000;
}
.prices__block {
  padding: 29px 22px;
}
.prices__left {
  align-self: center;
}
.prices__extra-text {
  display: none;
}

@media (min-width: 768px) {
  .prices__block {
    border: 1px solid #e3e1d5;
    border-radius: 20px;
    padding: 34px 41px;
    margin-top: 50px;
  }
  .prices__item {
    border-color: #EDF2EC;
    width: 250px;
  }
}
.footer {
  background-color: #fff;
}
.footer__inner {
  height: 146px;
  padding-top: 22px;
  padding-bottom: 7px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer {
    height: 180px;
  }
}
@media (min-width: 1440px) {
  .footer {
    height: 130px;
  }
  .footer__inner {
    padding: 40px 110px;
    flex-flow: row;
  }
}/*# sourceMappingURL=style.css.map */